# Recommender for Amazon Books

- Todo: setup database
- Todo: setup Jupyter Notebook on Microsoft Azure

## Graph based recommendation
We cluster books based on which users like them. That is, we say a book is similar to another book if there exists n many users that rate both books over y. When a user picks z books, we can recommend a collection of books the user is likely to like based on these books similarities to the clusters.

- Issue: if a user is split between two clusters.
- Issue: users with one rating is useless.

## Use Nearest Neighbour to calculate a fictional rating for test data


## Use Matrix Factorisation?

In [4]:
import pandas as pd
import numpy as np

# Read in data into a DataFrame
df = pd.read_csv('dist/ratings_Books.csv', names=['UserId', 'ItemId', 'Rating', 'Time'])
df.head()

           UserId      ItemId  Rating        Time
0   AH2L9G3DQHHAJ  0000000116     4.0  1019865600
1  A2IIIDRK3PRRZY  0000000116     1.0  1395619200
2  A1TADCM7YWPQ8M  0000000868     4.0  1031702400
3   AWGH7V0BDOJKB  0000013714     4.0  1383177600
4  A3UTQPQPM4TQO0  0000013714     5.0  1374883200